In [1]:
import pandas as pd
import numpy as np
import cv2
import glob
import matplotlib.pyplot as plt
import os
import face_recognition
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import seaborn as sns
from PIL import Image

In [2]:
from codes import importPath, resizeImages

# Getting all the images path:

In [3]:
folders = ['0_2', '4_6', '8_12', '15_20', '25_32', '38_43', '48_53', '60_100']

faceFiles = []
    
for files in folders:
    ff = importPath(files)
    faceFiles.append(ff)

## Create a dictionary with folder(label) / images path:

In [4]:
pics = dict()
for ffiles in faceFiles:
    for foto in ffiles:
        label = foto.split("/")[-2]
        pic = foto
        if label in pics:
            pics[label].append(pic)
        else:
            pics[label] = [pic]

## Create a dataframe with the information label / images path:

In [5]:
im = []

for k,v in pics.items():
    for a in v:
        im.append([k,a])
faces_df =  pd.DataFrame(im, columns=["label","image_path"])

display(faces_df.head())

  label                           image_path
0   0_2   ../OUTPUT/images/0_2/image_669.jpg
1   0_2  ../OUTPUT/images/0_2/image_1570.jpg
2   0_2   ../OUTPUT/images/0_2/image_346.jpg
3   0_2   ../OUTPUT/images/0_2/image_441.jpg
4   0_2  ../OUTPUT/images/0_2/image_1055.jpg

In [6]:
faces_df.shape

(17462, 2)

In [7]:
faces_df.label.value_counts()

25_32     5023
0_2       2491
38_43     2340
4_6       2140
8_12      2124
15_20     1642
60_100     872
48_53      830
Name: label, dtype: int64

We might need to delete some of the 25_32 data, so it doesn't interfe in the prediction results.

# Extract face from image:

Import haarcascade:

In [8]:
face_cascade = cv2.CascadeClassifier('../INPUT/haarcascade_frontalface_default.xml')

We will need to treat the images in order to detect the faces:

## Convert images into B&W:

In [9]:
def BlackandWhite(image_path):
    im_bw = cv2.imread(image_path)
    im_bw = cv2.cvtColor(im_bw, cv2.COLOR_BGR2GRAY)
    return im_bw

In [10]:
dictionary={}
count = 0
for path in faces_df['image_path']:
    dictionary[count] = BlackandWhite(path)
    count+=1

In [11]:
def configImag(array):
    try:
        faces = face_cascade.detectMultiScale(array, 1.25, 6)
        x,y,w,h = faces[0]
        face = array[y:y+h,x:x+w]
        face = cv2.resize(face,(48,48))
        return face
    except:
        return "face not found"

In [12]:
diction={}
for k,v in dictionary.items():
    diction.setdefault('clean_image', []).append(configImag(v))

In [13]:
pd.DataFrame(diction).shape

(17462, 1)

In [14]:
faces_df['arrays']= pd.DataFrame(diction)

In [15]:
faces_df[faces_df.arrays == 'face not found']

/home/carolina/.local/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:57: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = libops.scalar_compare(x.ravel(), y, op)

        label                             image_path          arrays
1         0_2    ../OUTPUT/images/0_2/image_1570.jpg  face not found
3         0_2     ../OUTPUT/images/0_2/image_441.jpg  face not found
4         0_2    ../OUTPUT/images/0_2/image_1055.jpg  face not found
12        0_2    ../OUTPUT/images/0_2/image_1235.jpg  face not found
16        0_2    ../OUTPUT/images/0_2/image_1902.jpg  face not found
...       ...                                    ...             ...
17443  60_100  ../OUTPUT/images/60_100/image_636.jpg  face not found
17444  60_100  ../OUTPUT/images/60_100/image_634.jpg  face not found
17445  60_100  ../OUTPUT/images/60_100/image_539.jpg  face not found
17446  60_100  ../OUTPUT/images/60_100/image_865.jpg  face not found
17455  60_100  ../OUTPUT/images/60_100/image_123.jpg  face not found

[3653 rows x 3 columns]

## Delete the images which the face was not recognized:

In [16]:
faces_df.drop(faces_df[faces_df.arrays == 'face not found'].index, inplace = True)

/home/carolina/.local/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:57: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = libops.scalar_compare(x.ravel(), y, op)

In [17]:
print(faces_df.shape)
faces_df.head()

(13809, 3)

,label,image_path,arrays
0,0_2,../OUTPUT/images/0_2/image_669.jpg,"[[58, 64, 76, 90, 109, 119, 135, 150, 166, 164..."
2,0_2,../OUTPUT/images/0_2/image_346.jpg,"[[10, 13, 14, 22, 41, 37, 33, 35, 34, 37, 32, ..."
5,0_2,../OUTPUT/images/0_2/image_1135.jpg,"[[193, 194, 193, 188, 186, 186, 180, 146, 82, ..."
6,0_2,../OUTPUT/images/0_2/image_231.jpg,"[[72, 80, 101, 108, 110, 111, 115, 121, 128, 1..."
7,0_2,../OUTPUT/images/0_2/image_696.jpg,"[[35, 67, 100, 78, 45, 64, 75, 144, 163, 156, ..."

In [18]:
faces_df['label'].value_counts()

25_32     4202
38_43     1946
8_12      1833
4_6       1611
0_2       1536
15_20     1313
60_100     692
48_53      676
Name: label, dtype: int64

In [19]:
Faces_detected = 13809*100//17462
print(f"Faces_detected:{Faces_detected}%")

Faces_detected:79%

# Save the Face detected images

In [20]:
image_name = []

for a in list(faces_df.image_path):
    im_name = a.split("/")[-1]
    image_name.append(im_name)

In [21]:
faces_df['image_name'] = image_name

In [22]:
faces_df.head()

,label,image_path,arrays,image_name
0,0_2,../OUTPUT/images/0_2/image_669.jpg,"[[58, 64, 76, 90, 109, 119, 135, 150, 166, 164...",image_669.jpg
2,0_2,../OUTPUT/images/0_2/image_346.jpg,"[[10, 13, 14, 22, 41, 37, 33, 35, 34, 37, 32, ...",image_346.jpg
5,0_2,../OUTPUT/images/0_2/image_1135.jpg,"[[193, 194, 193, 188, 186, 186, 180, 146, 82, ...",image_1135.jpg
6,0_2,../OUTPUT/images/0_2/image_231.jpg,"[[72, 80, 101, 108, 110, 111, 115, 121, 128, 1...",image_231.jpg
7,0_2,../OUTPUT/images/0_2/image_696.jpg,"[[35, 67, 100, 78, 45, 64, 75, 144, 163, 156, ...",image_696.jpg

## Let's save max. 1.000 per label

In [23]:
# 0_2:

In [24]:
import random

In [25]:
df_0_2 = faces_df[faces_df.label == '0_2']

In [26]:
df_0_2.shape

(1536, 4)

In [27]:
# Drop randon 536 photos

In [28]:
a = list(df_0_2.index)

In [29]:
randomlist = random.sample(a, 536)

In [30]:
df_0_2 = df_0_2.drop(randomlist)

In [31]:
df_0_2.shape

(1000, 4)

In [32]:
#4_6:

In [33]:
df_4_6 = faces_df[faces_df.label == '4_6']

In [34]:
df_4_6.shape

(1611, 4)

In [35]:
# Drop randon 611 photos

In [36]:
a = list(df_4_6.index)

In [37]:
randomlist = random.sample(a, 611)

In [38]:
df_4_6 = df_4_6.drop(randomlist)

In [39]:
#8_12:

In [40]:
df_8_12 = faces_df[faces_df.label == '8_12']

In [41]:
df_8_12.shape

(1833, 4)

In [42]:
# Drop randon 833 photos

In [43]:
a = list(df_8_12.index)

In [44]:
randomlist = random.sample(a, 833)

In [45]:
df_8_12 = df_8_12.drop(randomlist)

In [46]:
#15_20:

In [47]:
df_15_20 = faces_df[faces_df.label == '15_20']

In [48]:
df_15_20.shape

(1313, 4)

In [49]:
# Drop randon 313 photos

In [50]:
a = list(df_15_20.index)

In [51]:
randomlist = random.sample(a, 313)

In [52]:
df_15_20 = df_15_20.drop(randomlist)

In [53]:
#25_32:

In [54]:
df_25_32 = faces_df[faces_df.label == '25_32']

In [55]:
df_25_32.shape

(4202, 4)

In [56]:
# Drop randon 3202 photos

In [57]:
a = list(df_25_32.index)

In [58]:
randomlist = random.sample(a, 3202)

In [59]:
df_25_32 = df_25_32.drop(randomlist)

In [60]:
#38_43:

In [61]:
df_38_43 = faces_df[faces_df.label == '38_43']

In [62]:
df_38_43.shape

(1946, 4)

In [63]:
# Drop randon 946 photos

In [64]:
a = list(df_38_43.index)

In [65]:
randomlist = random.sample(a, 946)

In [66]:
df_38_43 = df_38_43.drop(randomlist)

In [67]:
# 48_53:

In [68]:
df_48_53 = faces_df[faces_df.label == '48_53']

In [69]:
#60_100:

In [70]:
df_60_100 = faces_df[faces_df.label == '60_100']

In [71]:
# Merge all dataframes:

In [72]:
frames = [df_0_2, df_4_6, df_8_12, df_15_20, df_25_32, df_38_43, df_48_53, df_60_100]

result = pd.concat(frames)

In [73]:
result.label.value_counts()

0_2       1000
4_6       1000
38_43     1000
25_32     1000
15_20     1000
8_12      1000
60_100     692
48_53      676
Name: label, dtype: int64

In [74]:
result.head()

,label,image_path,arrays,image_name
0,0_2,../OUTPUT/images/0_2/image_669.jpg,"[[58, 64, 76, 90, 109, 119, 135, 150, 166, 164...",image_669.jpg
2,0_2,../OUTPUT/images/0_2/image_346.jpg,"[[10, 13, 14, 22, 41, 37, 33, 35, 34, 37, 32, ...",image_346.jpg
5,0_2,../OUTPUT/images/0_2/image_1135.jpg,"[[193, 194, 193, 188, 186, 186, 180, 146, 82, ...",image_1135.jpg
6,0_2,../OUTPUT/images/0_2/image_231.jpg,"[[72, 80, 101, 108, 110, 111, 115, 121, 128, 1...",image_231.jpg
8,0_2,../OUTPUT/images/0_2/image_1937.jpg,"[[38, 24, 28, 24, 20, 21, 24, 24, 54, 106, 122...",image_1937.jpg

## Saving in a new folder (faces_detected):

In [106]:
for index, row in result.iterrows():
    img = Image.fromarray(row['arrays'])
    img.save("../OUTPUT/faces_detected/{}/{}".format(row['label'],row['image_name']))

# Final dataframe:

## update the image_path

In [75]:
result['image_path'] = result['image_path'].str.replace('images', 'faces_detected', regex=True)

## Organize columns

In [76]:
result = result[['label', 'image_path', 'image_name', 'arrays']]

## Transform the label into numerical

In [77]:
df_label = pd.get_dummies(result['label'])

## Organize columns for labels

In [78]:
df_label = df_label[['0_2', '4_6', '8_12', '15_20', '25_32', '38_43', '48_53', '60_100']]

## Create column GT

In [79]:
Row_list =[] 
  
for index, rows in df_label.iterrows(): 
    my_list =[rows['0_2'], rows['4_6'], rows['8_12'], rows['15_20'], rows['25_32'], rows['38_43'], rows['48_53'], rows['60_100']] 
    Row_list.append(my_list)

In [80]:
df_label['gt'] = Row_list

In [81]:
print(df_label.shape)
df_label.head()

(7368, 9)

,0_2,4_6,8_12,15_20,25_32,38_43,48_53,60_100,gt
0,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
2,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
5,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
6,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
8,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"

## Merge both dataframes:

In [82]:
data_final = pd.concat([result, df_label], axis=1)

In [84]:
print(data_final.shape)
data_final.head(3)

(7368, 13)

,label,image_path,image_name,arrays,0_2,4_6,8_12,15_20,25_32,38_43,48_53,60_100,gt
0,0_2,../OUTPUT/faces_detected/0_2/image_669.jpg,image_669.jpg,"[[58, 64, 76, 90, 109, 119, 135, 150, 166, 164...",1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
2,0_2,../OUTPUT/faces_detected/0_2/image_346.jpg,image_346.jpg,"[[10, 13, 14, 22, 41, 37, 33, 35, 34, 37, 32, ...",1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
5,0_2,../OUTPUT/faces_detected/0_2/image_1135.jpg,image_1135.jpg,"[[193, 194, 193, 188, 186, 186, 180, 146, 82, ...",1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"

# Export data_final as Pickle:

In [85]:
data_final.to_pickle("../OUTPUT/data_final.pkl")

All done!