In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import os
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [83]:
# For plotting images

In [82]:
def plotImages(images_arr):
    fig, axes = plt.subplots(1, 5, figsize=(20, 20))
    axes = axes.flatten()
    for img, ax in zip(images_arr, axes):
        ax.imshow(img)
    plt.tight_layout()
    plt.show

In [ ]:
hjsqdwhqdqduw√±hqauh

# Get the final dataframe:

In [51]:
data = pd.read_csv('../OUTPUT/data.csv')

In [52]:
print(data.shape)
data.head(3)

(7368, 13)

,label,image_path,image_name,arrays,0_2,4_6,8_12,15_20,25_32,38_43,48_53,60_100,gt
0,0_2,../OUTPUT/faces_detected/0_2/image_346.jpg,image_346.jpg,[[ 10 13 14 ... 109 85 73]\n [ 10 11 11 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
1,0_2,../OUTPUT/faces_detected/0_2/image_231.jpg,image_231.jpg,[[ 72 80 101 ... 117 88 70]\n [ 80 77 92 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
2,0_2,../OUTPUT/faces_detected/0_2/image_696.jpg,image_696.jpg,[[ 35 67 100 ... 166 189 215]\n [ 49 65 77 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"

In [66]:
# Put all in the same dimensions:

In [71]:
img_rows, img_cols, img_channels = 48, 48, 1

In [72]:
# Train the model

In [74]:
X = np.stack(data['arrays'])
y = np.stack(data['gt'])

In [75]:
X

array(['[[ 10  13  14 ... 109  85  73]\n [ 10  11  11 ... 117  92  73]\n [ 12  14  11 ... 135  99  76]\n ...\n [137 136 129 ... 178 173 175]\n [ 92 117 126 ... 162 162 159]\n [ 29  25  48 ... 144 144 145]]',
       '[[ 72  80 101 ... 117  88  70]\n [ 80  77  92 ... 112  79  84]\n [ 84  80  97 ... 103  77  76]\n ...\n [ 43  35  36 ...  49  78 116]\n [ 27  37  40 ...  47  66 110]\n [ 39  37  39 ...  39  55  81]]',
       '[[ 35  67 100 ... 166 189 215]\n [ 49  65  77 ... 182 195 214]\n [ 82  92  80 ... 176 183 210]\n ...\n [216 201 195 ...  47  54  54]\n [216 208 193 ...  79  82  87]\n [228 213 199 ...  86 108 110]]',
       ...,
       '[[101  59  54 ... 147 149 148]\n [ 99  89  80 ... 148 148 146]\n [101  83 129 ... 137 151 147]\n ...\n [132 123 117 ... 240 234 228]\n [132 126 122 ... 235 231 226]\n [133 128 117 ... 220 223 222]]',
       '[[ 13  14  16 ... 107 110 109]\n [ 15  13  18 ... 116 110 111]\n [ 12  14  22 ... 114 114 110]\n ...\n [  4   4   4 ... 229 239 238]\n [  4   4   3 ... 238 242 240]\n [  3   3   4 ... 221 237 239]]',
       '[[63 65 69 ... 63 59 44]\n [59 70 70 ... 64 68 37]\n [61 65 74 ... 61 63 31]\n ...\n [11 10 13 ... 22 23 22]\n [12 11 12 ... 19 26 27]\n [10 11 12 ... 13 17 19]]'],
      dtype='<U191')