In [1]:
import pandas as pd
import numpy as np
import glob

# Get the dataframe:

In [2]:
results = pd.read_csv('../OUTPUT/result.csv')

In [18]:
print(results.shape)
results.head()

(7368, 4)

,label,image_path,image_name,arrays
0,0_2,../OUTPUT/faces_detected/0_2/image_346.jpg,image_346.jpg,[[ 10 13 14 ... 109 85 73]\n [ 10 11 11 ...
1,0_2,../OUTPUT/faces_detected/0_2/image_231.jpg,image_231.jpg,[[ 72 80 101 ... 117 88 70]\n [ 80 77 92 ...
2,0_2,../OUTPUT/faces_detected/0_2/image_696.jpg,image_696.jpg,[[ 35 67 100 ... 166 189 215]\n [ 49 65 77 ...
3,0_2,../OUTPUT/faces_detected/0_2/image_1937.jpg,image_1937.jpg,[[ 38 24 28 ... 164 161 168]\n [ 65 21 24 ...
4,0_2,../OUTPUT/faces_detected/0_2/image_1839.jpg,image_1839.jpg,[[110 108 105 ... 110 91 82]\n [109 104 104 ...

## Update the image_path:

In [4]:
results['image_path'] = results['image_path'].str.replace('images', 'faces_detected', regex=True)

In [5]:
print(results.shape)
results.head()

(7368, 4)

,label,image_path,arrays,image_name
0,0_2,../OUTPUT/faces_detected/0_2/image_346.jpg,[[ 10 13 14 ... 109 85 73]\n [ 10 11 11 ...,image_346.jpg
1,0_2,../OUTPUT/faces_detected/0_2/image_231.jpg,[[ 72 80 101 ... 117 88 70]\n [ 80 77 92 ...,image_231.jpg
2,0_2,../OUTPUT/faces_detected/0_2/image_696.jpg,[[ 35 67 100 ... 166 189 215]\n [ 49 65 77 ...,image_696.jpg
3,0_2,../OUTPUT/faces_detected/0_2/image_1937.jpg,[[ 38 24 28 ... 164 161 168]\n [ 65 21 24 ...,image_1937.jpg
4,0_2,../OUTPUT/faces_detected/0_2/image_1839.jpg,[[110 108 105 ... 110 91 82]\n [109 104 104 ...,image_1839.jpg

## Organize columns

In [6]:
results = results[['label', 'image_path', 'image_name', 'arrays']]

## Transfor the label into numerical:

In [7]:
df_label = pd.get_dummies(results['label'])

## Organize the columns

In [8]:
df_label = df_label[['0_2', '4_6', '8_12', '15_20', '25_32', '38_43', '48_53', '60_100']]

In [9]:
df_label.head()

   0_2  4_6  8_12  15_20  25_32  38_43  48_53  60_100
0    1    0     0      0      0      0      0       0
1    1    0     0      0      0      0      0       0
2    1    0     0      0      0      0      0       0
3    1    0     0      0      0      0      0       0
4    1    0     0      0      0      0      0       0

In [10]:
df_label.columns

Index(['0_2', '4_6', '8_12', '15_20', '25_32', '38_43', '48_53', '60_100'], dtype='object')

In [11]:
Row_list =[] 
  
for index, rows in df_label.iterrows(): 
    my_list =[rows['0_2'], rows['4_6'], rows['8_12'], rows['15_20'], rows['25_32'], rows['38_43'], rows['48_53'], rows['60_100']] 
    Row_list.append(my_list)

In [12]:
df_label['gt'] = Row_list

In [13]:
print(df_label.shape)
df_label.head()

(7368, 9)

,0_2,4_6,8_12,15_20,25_32,38_43,48_53,60_100,gt
0,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
1,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
2,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
3,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
4,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"

## Merge both dataframes:

In [14]:
data = pd.concat([results, df_label], axis=1)

In [15]:
print(data.shape)
data.head()

(7368, 13)

,label,image_path,image_name,arrays,0_2,4_6,8_12,15_20,25_32,38_43,48_53,60_100,gt
0,0_2,../OUTPUT/faces_detected/0_2/image_346.jpg,image_346.jpg,[[ 10 13 14 ... 109 85 73]\n [ 10 11 11 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
1,0_2,../OUTPUT/faces_detected/0_2/image_231.jpg,image_231.jpg,[[ 72 80 101 ... 117 88 70]\n [ 80 77 92 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
2,0_2,../OUTPUT/faces_detected/0_2/image_696.jpg,image_696.jpg,[[ 35 67 100 ... 166 189 215]\n [ 49 65 77 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
3,0_2,../OUTPUT/faces_detected/0_2/image_1937.jpg,image_1937.jpg,[[ 38 24 28 ... 164 161 168]\n [ 65 21 24 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"
4,0_2,../OUTPUT/faces_detected/0_2/image_1839.jpg,image_1839.jpg,[[110 108 105 ... 110 91 82]\n [109 104 104 ...,1,0,0,0,0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0]"

## Export to CSV:

In [17]:
data.to_csv("../OUTPUT/data.csv", index = False)

All done!